<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dayanidhi.meetutu" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/meet"
        android:label="Meetutu_V2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".animations.FlowAnimation"
            android:theme="@style/AppTheme1" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SignUp"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Tutour"
            android:label="@string/title_activity_tutour"
            android:theme="@style/AppTheme1" >
        </activity>
        <activity android:name=".Check" >
        </activity>
        <activity android:name=".Test" >
        </activity>
        <activity android:name=".Complete" >
        </activity>
        <activity android:name=".Choose" >
        </activity>
    </application>

</manifest>
